

@import url('https://fonts.googleapis.com/css?family=Tahoma:300,400,500,600,700');


a {
    text-decoration: none;
    outline: none;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    color: #333333;
}

input:focus,
button:focus,
a:focus,
a:hover {
    text-decoration: none;
    outline: none;
    color: #000000;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 10px;
    font-weight: 600;
}

html,
body {
    height: 100%
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.8;
    color: #75cbe7;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.full-height {
    width: 100%;
    height: 100vh;
}

.relative {
    position: relative;
}

.fixed,
.absolute {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.fixed {
    position: fixed;
}

.v-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.section-padding {
    padding: 60px 0;
}

.social-menu {
    list-style: none;
    margin: 0;
    padding: 10px;
}

.social-menu li {
    display: inline-block;
    margin: 0 3px;
}

.social-menu li a {
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 2.5em;
    background-color: #ffffff;
    color: #138fc2;
    border-radius: 100px;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
    font-size: 23px;
}

.social-menu li a:hover {
    background-color: #138fc2;
    color: #ffffff;
    -webkit-box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.overlay:before,
.sky-bg {
    color: #ffffff;
}

.gray-bg {
    background-color: #fffafa;
}
.btnSignupTrial2{
    margin-top:10px!important;
    margin: auto;
}


.page-title {
    color: #000;
    margin-bottom: 40px
}

.page-title h2 {
    text-transform: uppercase;
    position: relative;
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 58px;
}

.page-title p{
    font-size: 28px;
    line-height: 50px
}  


.mainmenu-area {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999999;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: #E2F1F1
}

.overlay,
.overlay a,
.mainmenu-area a {
    color: #21385b;
}

.mainmenu-area .logo {
    text-transform: uppercase;
    letter-spacing: 2px;
    height: inherit;
    margin-top: 8px;
    padding-left: 0;
}

.mainmenu-area .logo h2 {
    margin-bottom: 0;
}

.mainmenu-area #primary-menu > ul > li > a {
    background: none;
    padding: 30px 15px;
    position: relative;
    border-top: 3px solid transparent;
    text-align: center;
    text-transform: uppercase
}
.mainmenu-area #primary-menu > ul > li:last-child{
    background-color: #21385b;
    margin: 15px auto;
    border-radius: 50px;
    width: 180px;
    height: 50px;
}
.mainmenu-area #primary-menu > ul > li:last-child > a {
    background: none;
    padding: 12px;
    position: relative;
    border-top: 3px solid transparent;
    text-align: center;
    text-transform: uppercase;
    color: #fff
}
.mainmenu-area #primary-menu > ul > li > a:before {
    content: "";
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: -10px;
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 10px solid #ffffff;
    opacity: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.mainmenu-area.affix {
    background-color: #E2F1F1;
}
.maintext-color{
    color: #21385b;
    font-size: 55px
}
.header-area {
    background:url('images/Background-home-06.png') no-repeat scroll center bottom -55px / 100% auto;
}

.anlge-bg {
    background: url('images/Background-home-06.png') no-repeat scroll center bottom -55px / 100% auto;
}

.overlay {
    position: relative;
}

.overlay:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8
}

.header-text h2 {
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 58px
}

.trial-date{
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -1px;
    word-spacing: 3px;
    text-transform: uppercase;
}


.header-text .button {
    margin-top: 30px;
}



.price-area {
    background: url('images/parallax-6.jpg') no-repeat scroll center center / cover
}

.price-table h3 {
    margin-bottom: 30px;
}

.price-table {
    padding: 50px 40px;
    border-radius: 2px;
    text-align: center;
    background-color: #ffffff;
    color: #515656;
    position: relative;
    margin-top: 20px
}

.price-table.active {
    padding: 70px 40px;
    margin-top: 0
}

.price-table ul {
    margin: 30px 0;
    padding: 0;
    list-style: none;
}

.price-table ul li {
    padding: 5px 0;
}

.price-table .price-info {
    position: absolute;
    left: 50%;
    top: 0;
    width: 100px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #55A2BE;
    color: #ffffff;
    border-radius: 0 0 50% 50%;
    padding-bottom: 5px;
}


.single-blog {
    overflow: hidden;
    border-radius: 5px;
    -webkit-box-shadow: 10px 15px 50px -10px rgba(0, 0, 0, 0.1);
    box-shadow: 10px 15px 50px -10px rgba(0, 0, 0, 0.1);
    background-color: rgba(240, 239, 239, 0.906);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.single-blog h3 {
    font-size: 18px;
}


.single-blog .blog-meta {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

.single-blog .blog-meta li {
    display: inline-block;
    margin: 5px 15px;
}

.single-blog .blog-meta li span {
    margin-right: 5px;
    line-height: 30px;
}

.single-blog .blog-content {
    padding: 40px 20px;
    color: black;
}
.blog-content h3{
    font-size: 22px;
    font-weight: 400;
    line-height: 35px;
    text-align: center
}
.blog-meta {
    margin-left: 20px;
}
.blog-meta .ti-check{
    font-size: 20px;
    font-weight: bold
}
.desc{
    margin-left: 50px
}
/***
*Footer-area
***/
footer{
    color: #000
}
.footer-area {
    padding-top: 120px;
    z-index: 1;
}

.footer-bg {
    background: #E2F1F1 url('images/background-home-14.png') no-repeat scroll center top -65px/ 100%;
    z-index: -1;
    background-color: transparent;
    height: 200px;
}
.footer-top{
    margin-top: 0;
    background-color: #E2F1F1
}

.hr-name{
    color: #55A2BE;
    text-transform: uppercase
}
.btnSignupTrial{
    width: 300px;
    height: 70px;
    border-radius: 50px;
    border: 5px solid #99e5e0;
    background-color: #21385b;
    padding: 15px 50px;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 50px;
    text-align: center;
}
.btnSignupTrial a{
    color: #fff!important;
}
.shadow {
    -webkit-box-shadow:15px 15px 50px 3px #336666; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    15px 15px 50px 3px #336666; /* Firefox 3.5 - 3.6 */
    box-shadow:        15px 15px 50px 3px #336666 /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  }
  .quytrinh{
      margin: auto;
      display: block;
      width: 100%;
      height: auto;;
  }
.quytrinh img{
    width:80%;
    margin: 0 10%
}
.human-resource-row{
    margin-top: 65px
}

.human-resource-img img{
    height: 510px;
}
.connect,.setup,.integrated{
    height: 150px;
    margin-bottom:30px;
    background-color: rgb(240, 238, 134);
    color: #000;
    padding: 20px 30px;
    text-align: justify
}
.integrated{
    margin-bottom: 0px
}
.connect h3,.setup h3 ,.integrated h3{
    text-align: center;
    font-size: 20px
}
.connect p,.setup p,.integrated p{
    text-align: justify;
    font-size: 15px
}
.blog-photo{
    height: 160px;
    color: #fff;
    background-color: rgb(128, 205, 211);
    border-radius: 20px;
    padding:5px;
    width: 95%;
    margin-top: 3px
}

.blog-photo-shadow{
    -webkit-box-shadow: 21px 15px 61px 5px rgb(64, 104, 107);
    -moz-box-shadow:  21px 15px 61px 5px rgb(64, 104, 107);
    box-shadow: 21px 15px 61px 5px rgb(64, 104, 107);
}
.border-line{
    border-radius: 20px;
    border: .5px solid #aaaaaa;
    padding:3px;
    height: 150px;
}
.hoso,.price{
    font-size: 45px;
    line-height: 45px;
    text-align: center;
    font-weight: bold;
    margin-top:10px;
    color: #325555;
    text-transform: uppercase
}

.hoso{
    color: black
}
.unit{
    font-size: 15px;
    color: #325555;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
.ti-check, desc{
    float: left;
    height: 30px
}
.contact-menu {
    margin-left: 50px
}
.contact-menu li{
    list-style-type: none
}
.logo img{
    width:150px
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .mainmenu-area #primary-menu > ul > li > a{
        padding: 30px 8px
    }
    .mainmenu-area #primary-menu > ul > li:last-child{
        width: 150px;
    }
    .hoso, .price {
        font-size: 32px;
    }
    .container2 {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        width: 98%;
    }
    .anlge-bg {
        background: url(images/Background-home-06.png) no-repeat scroll center bottom -55px / 120% auto;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .mainmenu-area #primary-menu > ul > li > a {
        padding: 30px 8px;
    }
    .mainmenu-area #primary-menu > ul > li:last-child{
        width: 120px;
    }
    
    .price-table,
    .box {
        padding: 30px 15px;
    }
    .price-table.active {
        padding: 50px 15px;
    }
    .single-team {
        margin-bottom: 30px
    }
    .side-icon-boxes {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .hoso, .price {
        font-size: 32px;
    }
    .footer-top{
        margin-top: -100px
    }
    .container2 {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
    }
    .anlge-bg {
        background: url(images/Background-home-06.png) no-repeat scroll center bottom -55px / 160% auto;
    }
}

@media only screen and (max-width: 767px) {
    body {
        font-size: 13px;
    }
    .header-area {
        padding-top: 88px;
        padding-bottom: 100px;
        height: auto;
    }
    .page-title h2,
    .header-text h2 {
        font-size: 20px;
        line-height: 42px
    }
    .mainmenu-area .navbar-toggle {
        margin-top: 20px;
    }
    .mainmenu-area .navbar-toggle .icon-bar {
        background-color: #ffffff;
    }
    .mainmenu-area #primary-menu {
        background-color: #138FC2;
    }
    .mainmenu-area #primary-menu ul {
        overflow-y: auto;
        max-height: 70vh;
        margin: 0;
    }
    .mainmenu-area #primary-menu > ul > li > a {
        padding: 15px;
        overflow: hidden;
    }
    .box {
        padding: 30px 15px;
    }
    .box .box-icon {
        height: auto;
    }
    .single-blog,
    .single-team,
    .price-table.active {
        margin-top: 30px;
    }
    .form-double input {
        width: 100%;
    }
    .x-left {
        text-align: left;
    }
    .mainmenu-area .logo {
        margin-left: 15px;
    }
    .trial-date{
        font-size: 20px;
        line-height: 40px
    }
    .btnSignupTrial{
        width: 200px;
        height: 60px;
        font-size: 12px;
        padding: 15px 0
    }
    .page-title p {
        font-size: 19px;
        line-height: 40px;
    }
    .hoso, .price {
        font-size: 32px;
    }
    .footer-top{
        margin-top: -190px;
    }
    .quytrinh img{
        width: 98%;
        margin: 0 1%
    }
    .header-area .container{
        background-color: #E2F1F1
    }
    .maintext-color{
        font-size: 35px
    }
    .container2 {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
    }
    .anlge-bg {
        background: url(images/Background-home-06.png) no-repeat scroll center bottom -55px / 160% auto;
    }
    .connect, .setup, .integrated{
        height: 160px;
    }
    .connect{
        margin-top: 30px
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .contact-menu {
        margin-left: 0;
        text-align: center
    }

    .header-area {
        background:#E2F1F1
    }
    .trial-date{
        font-size: 20px
    }
    .btnSignupTrial{
        width: 200px;
        height: 60px;
        font-size: 12px;
        padding: 15px 0
    }
    .page-title p {
        font-size: 19px;
        line-height: 40px;
    }
    .hoso, .price {
        font-size: 32px;
    }
    .footer-top{
        margin-top: -200px
    }
    
}


.sticky #primary-menu > ul > li > a {
    padding:8px 12px
}
.sticky .logo img {
    width: 100px;
}
.sticky  .logo{
    margin-top:0px
}
.sticky #primary-menu > ul > li:last-child {
    margin:5px auto;
    width: 120px;
    height: 30px
}
.sticky #primary-menu > ul > li:last-child > a {
    padding: 2px;
}
.sticky .navbar-brand{
    padding: 5px 15px
}
.mainmenu-area #primary-menu ul li.active a, .mainmenu-area #primary-menu ul li a:hover {
    border-top: 3px solid #21385b;
}
.mainmenu-area #primary-menu > ul > li > a:before {
    content: " ";
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: -10px;
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 10px solid #21385b;
    opacity: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
@media (max-width: 900px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
    .mainmenu-area .navbar-toggle .icon-bar{
        background-color: #fff
    }
}
.navbar-toggle{
    background-color: #138fc2
}